<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link"  (click)="loginUser()">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Register</a>
            </li>
            

        </ul>
    </div>
</nav>

<div class="container movies">
    <div class="mt-4 shadow-lg p-3 mb-5 bg-body rounded bg-primary text-danger">
        <h3>Book Your Movie Now</h3>
    </div>

    <div *ngFor="let item of updatedData.Search" class=" card m-3" style="width: 18rem;">
        <div class=" card" style="width: 18rem;">
            <img src={{updatedData.Search[0].Poster}} class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <h5 class="card-title">Movie Name: {{updatedData.Search[0].Title}}</h5>
                <h6>Year: {{updatedData.Search[0].Year}}</h6>
                <a href="#" class="btn btn-primary">Book Now</a>
            </div>
        </div>
    </div>
</div> -->
<div class="app-container">
    <router-outlet></router-outlet>
</div>